<div class="text-center">
    <div class="login" ng-show="login.state == 0">
        Username: <input type="text" ng-model="login.credentials.email" />
        Password: <input type="text" ng-model="login.credentials.password" /><br />
        <button ng-click="login.login()">Submit</button><br />
        Already Registered?  <a ng-click="login.signupClick()">Signup</a>
    </div>
    <div class="signup" ng-show="login.state == 1">
        Username: <input type="text" ng-model="login.credentials.email" />
        Password: <input type="text" ng-model="login.credentials.password" /><br />
        <button ng-click="login.signup()">Submit</button><br />
        Already have a user?  <a ng-click="login.loginClick()">Login</a>
    </div>
</div>
